.root {
  position: relative;

  padding: 15px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
