@import "values";

.root {
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

// .header {
//   display: flex;
//   flex-direction: column;
//   flex-shrink: 0;
//   justify-content: center;
//   align-items: center;
//   margin: 0.7em;
//
//   h1 {
//     font-size: 1.5em;
//   }
// }
//
// .genreSection {
//   width: 100%;
//   margin: 0.2em;
//   display: flex;
//   flex-direction: column;
//   padding: 0.7em;
//   flex-wrap: wrap;
// }
//
// .sectionTitle {
//   padding: 0 0.5em;
//   margin: 0.5em 0;
//   font-size: 1em;
// }
//
// .genreList > span{
//   display: flex;
//   flex-wrap: wrap;
// }
//
// .genreChip {
//   text-transform: capitalize;
//   margin: 5px !important;
//   height: 32px;
// }

.container {
  flex: 1;
  flex-shrink: 0;
  width: 100%;
  max-width: $maxCardWidth;
  margin: 0 auto;

  //Infinite List
  & > div {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.error, .loading, .startContainer {
  top: -($headerHeight) !important;
}

.startContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 100vh;
  left: 0;
  width: 100%;
  position: absolute;

  i {
    opacity: 0.1;
    font-size: 10em;
  }

  h1{
    font-size: 3.5em;
  }
}
