$width: 100px;
$height: 140px;
$color: #BDBDBD;

.root {
  width: $width;
  height: $height;
  margin: 7px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  background-color: $color;

  & > div > div > div > div > div{
    padding-top: 0 !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
}

.title {
  padding: 10px !important;

  span {
    display: inline;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;

    &:first-child{
      font-size: 1.2em !important;
    }
    &:last-child{
      font-size: 1em !important;
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }
}

.cover {
  height: $height;
  width: 100%;
  object-fit: fill;
  pointer-events: none;
  user-drag: none;
  text-align: center;
  text-transform: uppercase;
  background-color: $color;
}
