{
  "presets": [
    ["es2015", { "modules": "commonjs" }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "ramda",
    "lodash"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "build": {
      "presets": [
        ["es2015", { "loose": true, "modules": false }],
        "stage-0",
        "react",
        "react-optimize"
      ]
    }
  }
}
