@import "values";
@import "colors";

.root {
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionContainer {
  width: 100%;
  max-width: $maxCardWidth;

  @media screen and (max-width: $mobileBreakpoint) {
    border-radius: none;
    margin: 0 0.4em;
  }
}

.section, .welcome {
  padding: 0.4em;
  margin: 0.7em 0;
  flex: 1;
  flex-shrink: 0;
  width: auto !important;
  min-height: 0 !important;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.5em;
  margin: 0.1em 0;
  font-size: 1em;
}
