.root {
  position: relative;
  padding: 15px 25px;
}

.myList {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
