@import "colors";
@import "values";

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

$coverHeight: 250px;
$mobileCoverHeight: 150px;
$cardHeaderBreakpoint: 550px;

.backgroundContainer {
  min-height: 0;
  height: $mobileCoverHeight;
  width: 100%;
  position: fixed;
  overflow: visible;
  border-radius: 0;

  @media screen and (min-width: $cardHeaderBreakpoint) {
    height: $coverHeight;
  }
}

.backgroundCover {
  height: 100%;
  width: 100%;
  background-color: $textColor;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: $cardHeaderBreakpoint) {
    filter: blur(5px);
  }
}

.card {
  $margin: 20px;

  width: 100%;
  margin: $margin 0;
  margin-top: $coverHeight * 0.3;
  padding: 10px;
  overflow: visible;

  @media screen and (max-width: $maxCardWidth) {
    border-radius: 0px;
    margin-top: $mobileCoverHeight;
  }

  @media screen and (min-width: $maxCardWidth) {
    width: $maxCardWidth;
    padding: $margin;
    margin-left: $margin;
    margin-right: $margin;
  }
}

.cardHeader {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $cardHeaderBreakpoint) {
    flex-direction: column;
  }
}

.coverCard {
  $height: 180px;

  background-repeat: no-repeat;
  background-position: center;
  min-height: 0;
  background-size: cover;
  margin-left: 16px;
  flex-shrink: 0;
  height: $height;
  width: $height * 0.65;
  margin-top: -($height * 0.4);

  @media screen and (max-width: $cardHeaderBreakpoint) {
    display: none;
  }
}


.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;

  .title {
    font-size: 1.8em;
  }
  .subtitle {
    font-size: 0.9em;
    color: $accent3Color;
  }
}

$actionButtonHeight: 56px;

.actionButtonContainer {
  display: flex;
  position: absolute;
  z-index: 10000;
  left: 0;
  right: 0;
  justify-content: flex-end;
  align-items: flex-end;

  & > button {
    margin: 0;
  }
  $offset: -($actionButtonHeight / 2);
  $widthBreakpoint: $maxCardWidth + 200px;

  @media screen and (max-width: $widthBreakpoint) {
    margin-right: 10%;
    top: $offset;
    visibility: hidden;
  }

  &.mobile {
    visibility: visible !important;
  }

  @media screen and (max-width: $mobileBreakpoint) {
    margin-right: 5%;
  }

  @media screen and (min-width: $widthBreakpoint) {
    margin: 0 calc((100% - #{$maxCardWidth} - #{$actionButtonHeight} * 2) / 4);
    top: 0;
    bottom: $offset;
  }
}

.cardActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.genreSection {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.genreChip {
  margin: 4px !important;
  text-transform: capitalize;
}

.chapterSection {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.chapterList {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.avatar {
  font-size: 10px;
}

.chapterItem {
  text-decoration: none;

  li {
    cursor: pointer;
  }
}

.chapterItemContainer {
  $font-size: 1.1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size;

  svg {
    height: $font-size !important;
  }
}

.chapterItemProgressPage {
  font-size: 0.9em;
}

.recommendationsSection {
  padding: 10px;
}

.recommendationsTitle {
  padding: 0 10px;
}

.detailsContainer {
  padding: 5px;
}
