@import "colors";
@import "values";

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

$coverHeight: 250px;
$mobileCoverHeight: 150px;

.backgroundContainer {
  $padding: 8px;

  height: $coverHeight + $padding;
  width: calc(100% + #{$padding});
  position: fixed;
  overflow: visible;
  border-radius: 0;
  margin-top: -($padding / 2);
  margin-left: -($padding / 2);

  @media screen and (max-width: $maxCardWidth) {
    height: $mobileCoverHeight;
  }
}

.backgroundCover {
  height: 100%;
  width: 100%;
  filter: blur(5px);
  object-fit: cover;
  background-color: $textColor;

  &:before {
    $padding: 10px;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $textColor;
  }
}

.card {
  $margin: 20px;

  width: 100%;
  margin: $margin 0;
  margin-top: $coverHeight * 0.3;
  padding: 10px;
  overflow: visible;

  @media screen and (max-width: $maxCardWidth) {
    border-radius: 0px;
    margin-top: $mobileCoverHeight;
  }

  @media screen and (min-width: $maxCardWidth) {
    width: $maxCardWidth;
    padding: $margin;
    margin-left: $margin;
    margin-right: $margin;
  }
}

.cardHeader {
  display: flex;
}

.coverCard {
  $height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 0;
  height: 180px;
  width: $height * 0.65;
  background-size: cover;
  margin-left: 16px;
  margin-top: -($height * 0.4);
}


.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;

  .title {
    font-size: 1.8em;
  }
  .subtitle {
    font-size: 0.9em;
    color: $accent3Color;
  }
}

$actionButtonHeight: 56px;

.actionButtonContainer {
  display: flex;
  position: absolute;
  z-index: 10000;
  left: 0;
  right: 0;
  justify-content: flex-end;
  align-items: flex-end;

  & > button {
    margin: 0;
  }
  $offset: -($actionButtonHeight / 2);
  $widthBreakpoint: $maxCardWidth + 200px;

  @media screen and (max-width: $widthBreakpoint) {
    margin-right: 10%;
    top: $offset;
    &:nth-child(2) {
      display: none;
    }
  }

  @media screen and (max-width: $mobileBreakpoint) {
    margin-right: 5%;
  }

  @media screen and (min-width: $widthBreakpoint) {
    margin: 0 calc((100% - #{$maxCardWidth} - #{$actionButtonHeight} * 2) / 4);
    top: 0;
    bottom: $offset;
    &:nth-child(1) {
      display: none;
    }
  }
}

.cardActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.genreSection {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.genreChip {
  margin: 4px !important;
  text-transform: capitalize;
}

.chapterSection {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.chapterList {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.avatar {
  font-size: 10px;
}

.chapterItem {
  cursor: pointer;
  text-decoration: none;
}

.chapterItemContainer {
  $font-size: 1.1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size;

  svg {
    height: $font-size !important;
  }
}

.chapterItemProgressPage {
  font-size: 0.9em;
}

.recommendationsSection {
  padding: 10px;
}

.recommendationsTitle {
  padding: 0 10px;
}

.detailsContainer {
  padding: 5px;
}
