.root {
  display: flex;
  flex-direction: column;
}

.cover {
  height: 200px;
  object-fit: contain;
}

.fullCover {
  width: 100%;
  object-fit: contain;
}

.chapters, .recommendations {
  padding: 10px;
}

.chapterHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chapterItem {
  text-decoration: none;
}
