@import "values";

.section {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pageContainer{
  overflow: scroll;
  height: 100%;
  width: 75%;
  max-width: 700px;
  height: calc(100vh - #{$headerHeight});

  &.touchAvailable {
    width: 100%;
  }
}

.paper {
  margin: 7px;
}

.img {
  width: 100%;
  object-fit: contain;
  cursor: zoom-in;
}

.controlBtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 7px;
}

.headerTitle {
  display: flex;
  align-items: center;
  * {
    flex-shrink: 0;
  }
}
