.section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  // height: 100%;
  flex: 1;
}

.pageContainer{
  overflow-y: auto;
  height: 100%;
}

.swiper, .touchSwiper {
  width: 70%;
  height: 100%;

  &.touchSwiper {
    width: 100%;
  }

  & > div {
    height: 100%;
  }
}

.paper {
  margin: 20px;
}

.img {
  width: 100%;
  object-fit: contain;
}

.controlBtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
