.root {
  position: relative;
}

.section{
  margin: 0.7em;
  padding: 0.7em;
  flex-shrink: 0;
}

.sectionTitle {
  padding: 0 0.5em;
  margin: 0.5em 0;
  font-size: 1em;
}

.myList {
  overflow-x: hidden;
  flex-wrap: wrap;
  height: auto !important;
  justify-content: center;
}
