// App
:global {
  @import 'normalize';
  @import 'typography';
  @import 'react-virtualized';
  @import 'values';
  @import 'colors';

  * {
    user-drag: none;
  }

  .touch * {
    user-select: none;
  }

  body {
    background: #eee;
  }

  //Show some mock ui before js is loaded
  #mocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
      height: $headerHeight;
      background-color: $primary1Color;
      position: fixed;
      left: 0;
      top: 0;
      box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
      width: 100%;
    }
    .bottomNav {
      height: $bottomNavHeight;
      background-color: $canvasColor;
      position: fixed;
      left: 0;
      bottom: 0;
      box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
      width: 100%;
    }
  }
}
