// App
:global {
  @import 'normalize';
  @import 'typography';

  //Trick to use hwacceleration on some browsers
  body {
    -webkit-transform: translateZ(0);
  }

  html {
    overflow: hidden;
    height: 100%;
  }

  body {
    height: 100%;
    overflow: auto;
  }
}
