<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="no-referrer">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="manifest" href="/manifest.json">

  <link rel="icon" type="image/png" sizes="192x192" href="/icon-192x192.png">

  <meta name="robots" content="index,noimageindex,noarchive,nocache">
  <meta name="google" content="notranslate">
</head>
<body>
  <div id="mocks">
    <div class="header .mdl-shadow--6dp"></div>
    <div class="bottomNav .mdl-shadow--6dp"></div>
  </div>
  <div id="root"></div>
</body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</html>
