.root {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #bbb;
  z-index: 1000;
  svg {
    color: #fff !important;
  }
}

.search {
  display: flex;
  flex-direction: row;
}

.active{
  color: grey !important;
}
