@import "values";

.root {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000 !important;

  svg {
    color: #fff !important;
  }
}

.appBar {
  height: $headerHeight !important;
  display: flex !important;
  align-items: center;

  & > div {
    margin-top: 0 !important;
  }

  & > h1 {
    height: $headerHeight !important;
    line-height: $headerHeight !important;
    font-size: 1.4em !important;
  }
}

.showSearchField > div:nth-last-of-type(1){
  flex: 10000 !important;
}

.searchSection {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.searchField {
  padding: 0 10px;
  margin-right: 5px;
  display: flex;
  flex: 1;
}

.progress {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  background-color: transparent !important;
  z-index: 10000 !important;
}
