@import "values";

.root {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff !important;
  height: $headerHeight;
  z-index: 1000 !important;
}

.progress {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  background-color: transparent !important;
  z-index: 10000 !important;
}

//.mdl-layout__inner-container
.layout > div{
  overflow-y: visible;
  overflow-x: visible;
}

.header {
  height: $headerHeight;

  //.mdl-layout__header-row
  & > div{
    height: $headerHeight !important;
    padding: 0 20px;
    @media screen and (min-width: $mobileBreakpoint) {
      padding: 0 80px;
    }
  }
}

.sourceMenuButton {
  color: #fff !important;

  &>i {
    margin-right: 5px;
  }
}

.sourceMenuItem {
  text-transform: capitalize;
}

.leftNavigation {
  order: -1;
  & > div {
    padding: 0 !important;
    padding-right: 10px !important;
  }
}
